<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
     <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--<location path="Files">
    
    <system.webServer>
      <handlers>
        <add name="/uploadhandler" path="*" verb="*" type="UploadHandler" />
      </handlers>
    </system.webServer>
   
    <system.web>
      <httpHandlers>
        <add path="/uploadhandler" verb="*" type="UploadHandler" />
      </httpHandlers>
    </system.web>
  </location>-->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="20000000" />
    <!--<httpRuntime maxRequestLength="1048576" --><!--/>-->
    
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
